body {
  margin: 0;
  background-color: #f3f5fb;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
}

button {
  outline: none !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: 60px 80px;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
  height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#d6d5ecea, #5477d6e3);
  display: block;
}

.info-card {
  padding: 9px 19px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.button {
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  background-color: #5b31cf;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
}

.button:hover {
  box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}
