<div class="authentication-card" id="authentication-card">

  <div class="authentication-card__flip-card">

    <div class="authentication-card__side authentication-card__side_front" id="authentication-card-side-front">
      {{!-- side front --}}
    </div>
    
    <div class="authentication-card__side authentication-card__side_back" id="authentication-card-side-back">
      <button class="authentication-card__button-back" id="authentication-card-button-back">&#8635; назад</button>
      {{!-- side back --}}
    </div>

  </div> 

</div>