<form class="login-form" name="autorization">

  <img class="login-form__icon" src="./img/user.png">
  
  <label class="login-form__label">Логин<input class="login-form__input login-form__input_login" type="text" name="login" required></label>
  <label class="login-form__label">Пароль<input class="login-form__input login-form__input_password" type="password" name="password" required></label>
  <label class="login-form__label"><input class="login-form__input login-form__input__checkbox" type="checkbox" name="rememberMe">Запомнить меня</label>
  <span class="login-form__error-mesage error-mesage" id="login-form-error-mesage"></span>
  <input class="login-form__submit" type="submit" name="submit" value="Войти">
  <button class="login-form__registration-button" id="login-form-button" type="button">Зарегистрироваться</button>

</form>