<h3 class="records__title">История</h3>
<div class="records__wrapper" id="records-wrapper">
  <table class="records__table table  table-sm">
    <thead class="records__thead">
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">Время</th>
        <th scope="col">Вес</th>
        <th scope="col"></th>
      </tr> 
    </thead>
    <tbody class="records__tbody" id="records-tbody">
      
    </tbody>
  </table>
</div>
<button class="records__add-button button" id="add-button">Добавить вес</button>