<tr data-date="{{dateInMilliseconds}}">
  <td>{{date}}</td>
  <td>{{time}}</td>
  <td>{{weight}}</td>
  <td>
    <button class="records__btn"><img class="records__icon" src="../img/cross.png" alt="" data-action="deleteWeightRecord"></button>
  </td>
</tr>