<form class="login-form" name="registration">

  <img class="login-form__icon login-form__icon_registration" src="./img/user.png">

  <label class="login-form__label">Логин<input class="login-form__input login-form__input_login" type="text" name="login" required></label>
  <label class="login-form__label">Пароль<input class="login-form__input login-form__input_password" type="password" name="password" required></label>
  <label class="login-form__label">Пароль еще раз<input class="login-form__input login-form__input_password" type="password" name="passwordAgain" required></label>
  <label class="login-form__label"><input class="login-form__input login-form__input__checkbox" type="checkbox" name="rememberMe">Запомнить меня</label>
  <span class="login-form__error-mesage error-mesage" id="registration-error-mesage"></span>
  <input class="login-form__submit" type="submit" name="submit" value="Продолжить">
  
</form>