<div class="weight-page" id="weight-page">
  
  <div class="chart info-card" >
    <h3 class="chart__title">Изменение веса</h3>
    <div class="chart__wrapper" id="chart-wrapper">

    </div>
  </div>

  <div class="records info-card" id="records-box">

  </div>
</div>